<section class="container block--darker footer">
  <div class="footer__logo">
    <a class="nav_brand" href="/">
      <img src="images/logo.svg" alt="logo image " />
    </a>
    <p class="copyright">Copyright 2023 Guidad Aymen.</p>
  </div>
  <div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Products</h2>
      <svg class="icon icon--white collapsible--chevron">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </header>
    <div class="collapsible__content">
      <ul class="list">
        <li class="list__item">Website Hosting</li>
        <li class="list__item">Free Automated</li>
        <li class="list__item">Wordpress</li>
      </ul>
    </div>
  </div>

  <div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Company</h2>
      <svg class="icon icon--white collapsible--chevron">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </header>
    <div class="collapsible__content">
      <ul class="list">
        <li class="list__item">About</li>
        <li class="list__item">Affiliates</li>
        <li class="list__item">Blog</li>
      </ul>
    </div>
  </div>

  <div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Support</h2>
      <svg class="icon icon--white collapsible--chevron">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </header>
    <div class="collapsible__content">
      <ul class="list">
        <li class="list__item">Contact</li>
        <li class="list__item">Knowledge Base</li>
        <li class="list__item">FAQ</li>
      </ul>
    </div>
  </div>

  <div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Domains</h2>
      <svg class="icon icon--white collapsible--chevron">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </header>
    <div class="collapsible__content">
      <ul class="list">
        <li class="list__item">Domain Checker</li>
        <li class="list__item">Domain Transfer</li>
        <li class="list__item">Free Domain</li>
      </ul>
    </div>
  </div>
</section>
