<section class="block">
  <header class="block__header">
    <h2>What Our Customers are saying</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus,
      sint.
    </p>
  </header>
  <div class="container">
    <div class="grid testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img src="images/testimonal.avif" alt="A happy, smile customer." />
          <span class="icon-container">
            <svg class="icon icon--white icon--small">
              <use xlink:href="images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>

        <blockquote class="quote">
          <p class="quote__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quis
            error consectetur delectus ducimus. Ab fuga officiis voluptatibus at
            sed dolorum saepe excepturi quisquam iste rem est, eius dicta
            eveniet.
          </p>
          <footer>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary">
                  <use xlink:href="images/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title">Jhone Lumeo</h3>
                <p class="media__body-text">Mosh Company CEO</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
